.mapWrap {
    border-radius: 20px;
    margin: 25px 0 0 0;
}

.mapContainer {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.mapContainer, .mapContainer * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.mapContainer a, .mapContainer a:hover, .mapContainer a:active{color:#000;text-decoration: none;}
.mapContainer {position:relative;width:100%;height:400px;}

.placeList {position:relative;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}

#result-list li {list-style: none;}
#result-list .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#result-list .item span {display: block;margin-top:4px;}
#result-list .item h5, #result-list .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#result-list .item .info{padding:10px 0 10px 55px;}
#result-list .info .gray {color:#8a8a8a;}
#result-list .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}

#result-list .item .info .tel {color:#009900;}
#result-list .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#result-list .item .marker_1 {background-position: 0 -10px;}
#result-list .item .marker_2 {background-position: 0 -56px;}
#result-list .item .marker_3 {background-position: 0 -102px}
#result-list .item .marker_4 {background-position: 0 -148px;}
#result-list .item .marker_5 {background-position: 0 -194px;}
#result-list .item .marker_6 {background-position: 0 -240px;}
#result-list .item .marker_7 {background-position: 0 -286px;}
#result-list .item .marker_8 {background-position: 0 -332px;}
#result-list .item .marker_9 {background-position: 0 -378px;}
#result-list .item .marker_10 {background-position: 0 -423px;}
#result-list .item .marker_11 {background-position: 0 -470px;}
#result-list .item .marker_12 {background-position: 0 -516px;}
#result-list .item .marker_13 {background-position: 0 -562px;}
#result-list .item .marker_14 {background-position: 0 -608px;}
#result-list .item .marker_15 {background-position: 0 -654px;} 

#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}