.opacity{
    opacity:0;
}




  .background_container{
      z-index:-100;
      background-color: black;
      position:fixed;
      display:flex;
      align-items:center;
      left:0;
      bottom:0;
      width:100%;
      height:100vh;
      overflow:hidden;
      flex-direction: row;
  }

  .video_container{
      flex:1;
      width:100%;
      height:100%;
      display:flex;
      justify-content:center;
        
  }
  .bgvideo{
    flex:1;
    background:black;
    opacity:1;
    visibility:visible;
    width: 100%;
    height: 100%;
    object-fit: cover;
      
  }

  .scroll_container{
      overflow:hidden;
  }

  .step{
      display:flex;
      flex-direction:column;
      justify-content:flex-end;
      position:relative;
      width:100%;
      height:100%;
      opacity:0;
  }


.step_content{
    display :flex;
    align-items: center;
    /* justify-content:center; */
    flex-direction:column;
    height:150vh;
    color:white;
    font-weight:700;
    font-size:60px;
    text-shadow:2px 2px black;
    opacity:1;
    position:relative;
    top:35%
}

.city_name{
    position: relative;
    display :flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    height:100vh;
    color:white;
    font-weight:700;
    font-size:170px;
    text-shadow:2px 2px black;
    opacity:1;
    z-index:10;

}

.city_logo{
    width:50%;
}